// Colors

$color-white: #fff;
$color-primary: #2C394B;
$color-secondary: #171717; 
$color-tertiary-1: #444;
$color-tertiary-2: #747474;
$color-container: #f5f5f5;
$color-blue: #72A1A6;
$color-red: #eb2323;

// Padding
$body-padding: 3rem;